[Desktop Entry]
Name=LPRngTool
Comment=LPRngTool - printer configuration, monitoring and management utility with GUI for LPRng
Comment[pl]=LPRngTool - narzędzie do monitorowania i zarządzania systemem druku LPRng
Exec=lprngtool
Icon=LPRngTool
Terminal=false
Type=Application
Categories=System;
# vi: encoding=utf-8
